@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "flyonui" {
    themes: light --default, synthwave;
}


@source "./";
@source "../../install.html";

.prose p {
    color: #000;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}
