@import "tailwindcss";

@import "../../../node_modules/flyonui/variants.css";


@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
    themes: light --default, synthwave;
}

@source "./";
@source "../../install.html";
@source "../../../node_modules/flyonui/dist/index.js";

.prose p {
    color: #000;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}
